<ion-header>
 
  <ion-toolbar style="--background:  rgb(58, 43, 43);  /* fallback for old browsers */
 
  ">   <div style="display: flex;color: white;">
      <img style="height: 3em;object-fit: contain;" src="../../../assets/logo.png" alt="">
      <ion-title style="text-align: center;color: white;  font-family: 'Francois One', sans-serif;">SHOW LEDGER REPORT 
      </ion-title>
      <ion-button (click)="close()" style="padding-top: 5px;" fill='clear' color="primary">
        <p style="color: white;font-family: Impact;">
          EXIT
        </p>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="choice == ''">

  <div class="container">
    <div style="width: 90%;" class="vertical-center">
      <ion-card mode="ios" button (click)="scanBarcode()" style="text-align: center;">
        <img src="../../assets/barcode.png" />
        <ion-card-header>
          <ion-card-title style="font-family: impact;color: rgba(0, 0, 0, 0.644);"> SHOW LEDGER REPORT
          </ion-card-title>
        </ion-card-header>
      </ion-card>

      <div class="h-divider">
        <div class="shadow"></div>
        <div class="text"><i>Show Ledger Report</i></div>
      </div>

      <ion-card mode="ios" button (click)="setChoice('manually')" style="text-align: center;">
        <img src="../../assets/typewriter.png" />
        <ion-card-header>
          <ion-card-title style="font-family: impact;color: rgba(0, 0, 0, 0.644);">SHOW LEDGER REPORT
          </ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>

</ion-content>

<ion-content >
  <ion-item>
    <ion-label>FROM</ion-label>
    <ion-datetime [(ngModel)]="date1" displayFormat="MM DD YY" placeholder="From"  [max]="today"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>TO</ion-label>
    <ion-datetime  [(ngModel)]="date2" displayFormat="MM DD YY" placeholder="To"   [max]="today" ></ion-datetime>
  </ion-item>
  </ion-content>
  <div style="margin-top: 25px;width: 100%;">
    <ion-button (click)="continue()" class="shadow-red" color="none" style="background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876);" expand='full' >
      <p style="font-family: Impact;color: rgba(255, 255, 255);">        Continue
      </p>

      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>


<ion-content >

 