<ion-header>
  <ion-toolbar style="--background: black;  /* fallback for old browsers */
 
  ">
       <div style="display: flex;color: white;">
      <img style="height: 3em;object-fit: contain;" src="../../../assets/logo.png" alt="">
      <ion-title style="text-align: center;color: white;  font-family: 'Francois One', sans-serif;">Staff
      </ion-title>

    </div>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div *ngIf="helpers" style="padding:10px;">
    <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">

      <ion-card *ngFor="let helper of helpers"
        style="display: flex;padding-left: 10px;padding-right: 10px;width: 95%;min-height: 4em;color: black;background: rgba(255, 255, 255, 0.027);">
        <img style="height: 4em;position: relative;top: 0.5em;" src="../../../assets/staff.png" alt="">
        <div style="width: 80%;">

          <ion-title style="font-size: 24px;margin-top: 10px;" class="balu">{{helper.helperphone}}</ion-title>

          <ion-title
            style="font-family:Georgia;font-size: 15px;color: rgba(0, 0, 0, 0.781);position: relative;top: -12px;">
       
       
          </ion-title>

        </div>

        <div>
          <ion-icon (click)="askDelete(helper)" color="success"
            style="background: rgba(74, 196, 4, 0.041);font-size: 25px;margin-top: 0.5em;border-radius: 50%;padding: 5px;margin-top: 18px;"
            name="trash">
          </ion-icon>

        </div>

      </ion-card>

    </div>
  </div>

  <div *ngIf="!helpers">


    <p
      style="font-family: impact;color: rgba(128, 128, 128, 0.616);position: relative;top: 10em;text-align: center;font-size: 32px;">
      NOTHING TO SHOW...!
    </p>

  </div>

</ion-content>