ion-select {
    width: 100%;
    color: black;
    font-family: "Noto Sans JP", sans-serif;
    text-align: center;
    max-height: 0.7em;
    position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

h2 {
    font-family: "Noto Sans JP", sans-serif;
}
ion-input {
    min-height: 2em;
    font-family: "Noto Sans JP";
    font-size: 18px;
    color: black;
}

.line-input {
    margin: 0 !important;
    background: none !important;
    padding: 0 !important;
    ion-item {
        --border-color: transparent !important;
        --highlight-height: 0;
        border: 1px solid rgba(0, 0, 0, 0.514);
        border-radius: 4px;

        &.item-has-focus {
            border: 1px solid var(--ion-color-success, #0da02d);
        }

        ion-label {
            color: #807e7e !important;
            font-weight: 300;
            font-size: 1rem !important;
        }
        ion-input {
            font-family: "Noto Sans JP", sans-serif;
            color: black;
        }
    }
}

.loader {
    width: 150px;
    height: 550px;
    display: inline-block;
    padding: 0px;
    opacity: 0.5;
    border: 3px solid #09acfd;
    -webkit-animation: loader 1s ease-in-out infinite alternate;
    animation: loader 1s ease-in-out infinite alternate;
}

.loader:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid #09acfd;
}

.loader:after {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid #09acfd;
}

@keyframes loader {
    from {
        transform: rotate(0deg) scale(1, 1);
        border-radius: 0px;
    }
    to {
        transform: rotate(360deg) scale(0, 0);
        border-radius: 50px;
    }
}
@-webkit-keyframes loader {
    from {
        -webkit-transform: rotate(0deg) scale(1, 1);
        border-radius: 0px;
    }
    to {
        -webkit-transform: rotate(360deg) scale(0, 0);
        border-radius: 50px;
    }
}

.loader5 {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #4183d7;
    border-top: 10px solid #f5ab35;
    -webkit-animation: loader5 1.2s ease-in-out infinite alternate;
    animation: loader5 1.2s ease-in-out infinite alternate;
}

@keyframes loader5 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}
@-webkit-keyframes loader5 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(720deg);
    }
}
