@import url("https://fonts.googleapis.com/css2?family=Assistant&display=swap");

.assis {
    font-family: "Assistant", sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 22px;
}
