<ion-header>
 
  <ion-toolbar style="--background:  rgb(58, 43, 43);  /* fallback for old browsers */
 
  ">   <div style="display: flex;color: white;">
      <img style="height: 3em;object-fit: contain;" src="../../../assets/logo.png" alt="">
      <ion-title style="text-align: center;color: white;  font-family: 'Francois One', sans-serif;">DESKTOP APP REGISTRATION
      </ion-title>
      <ion-button (click)="close()" style="padding-top: 5px;" fill='clear' color="primary">
        <p style="color: white;font-family: Impact;">
          EXIT
        </p>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <div
      style="margin-top: 1em;width: 100%;display: flex;justify-content: center;align-items: center;flex-direction: column;">

      <h2 style="font-family: 'Roboto Condensed', sans-serif;font-size:29px">
        Please register for Desktop App by entering your email id
      </h2>

      
      <ion-item style="margin-top: 15px;" lines="none">
        <ion-input type="email" placeholder="Enter email id for use in desktop application" [(ngModel)]="email"></ion-input>
        

      </ion-item>





      <div style="margin-top: 25px;width: 60%;">
        <ion-button class="shadow-red" (click)="updateEmailId()" color="none" style="background: #2b5876;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4e4376, #2b5876);" expand='block' mode='ios'>
          <p style="font-family: Impact;color: rgba(255, 255, 255, 0.897);">
            Continue
          </p>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </div>

    </div>

  </div>

</ion-content>
